body {
    background-image: url("https://png.pngtree.com/thumb_back/fh260/background/20201016/pngtree-forest-cartoon-fox-monkey-leaves-animal-background-image_419245.jpg");
    background-repeat: no-repeat;
    background-size: 100%;
    text-align: center;
}

.animals {
    margin: 0px 500px 0px 500px;
    display: flex;
    align-items: center;
}

#single {
    line-height: 2em;
    margin: 20px;
    background-color: lightcyan;
    border: 2px solid black;
    height: 100px;
    width: 200px;
    display: flex;
    flex-direction: column;
    align-items: center;

    
    
}

.buttons {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    align-content: center;
}

form {
    display: flex;
    flex-direction: column;
    margin: 0px 500px 0px 500px;
    background-color: lightcyan;
    align-content: flex-end;
    
}

.extinct {
    display: flex;
    flex-direction: row;
}

.new {
    display: flex;
    justify-content: space-around;
}

.flexbox {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
